<div class="modal fade" id="change-password-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Cài Đặt Mật Khẩu</h2>
                </div>
                <div class="modal-body">
                    <div class="tab-content">
                        <div class="row text-center">
                                <% if(user.local.email){%>
                                    <h3>Đổi Mật Khẩu Local.</h3>
                                <% } %>
                                <% if(user.facebook.email){%>
                                    <h3>Đổi Mật Khẩu Facebook</h3>
                                <% } %>
                                <% if(user.google.email){%>
                                    <h3>Đổi Mật Khẩu Google</h3>
                                <% } %>
                        </div>
                        <div class="row sm-col-12 text-center">
                            <div class="alert alert-danger alert-dismissable change-password-modal-alert-error" style="width:80%;margin:auto;">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <span>Update user error example.</span>
                            </div>

                            <div class="alert alert-success alert-dismissable change-password-modal-alert-success"style="width:80%;margin:auto;">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <span>Update user success example.</span>
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-sm-4 text-center">
                                <span>Mật khẩu hiện tại : </span>
                            </div>
                            <div class="col-sm-4">
                                <input id="input-change-current-password" type="password" class="form-control"name="current_password">
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-sm-4 text-center">
                                <span>Mật khẩu mới : </span>
                            </div>
                            <div class="col-sm-4">
                                <input id="input-change-new-password" type="password" name="new_password" class="form-control">
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                                <div class="col-sm-4 text-center">
                                <span>Nhập lại mật khẩu mới : </span>
                            </div>
                            <div class="col-sm-4">  
                                <input id="input-change-confirm-new-password" name="confirm_new_password" type="password" class="form-control">
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <div class="col-sm-4 text-center">
                            </div>
                            <div class="col-sm-4">  
                                <input id="input-btn-update-user-password" type="button" value="Cập Nhật" class="btn btn-primary"style="width:120px;">
                                <input id="input-btn-cancel-update-user-password" type="button" value="Huỷ Bỏ" class="btn btn-danger" style="width:120px;">
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>