<div class="modal fade" id="imagesModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">All Images in this conversation.</h4>
            </div>
            <div class="modal-body">
                <div class="all-images" style="visibility: hidden;">
                    <img src="images/users/1563118988633-8a7ce348-5d84-49b6-bd22-874c9f721ee8-meo.jpg">
                    <img src="images/users/linh.jpg">
                </div>
            </div>
        </div>
    </div>
</div>