<div class="modal fade" id="detailGroupModal" data-id="" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Quản lý liên lạc</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" id="link-contacts" href="#userInGroup">
                                Thành Viên
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#findUserToAddGroup">Tìm kiếm bạn bè</a>
                        </li>
                        <li>
                            <a id="leave-group" >
                                Rời nhóm
                            </a>
                        </li>
                        
                    </ul>
                    <div class="tab-content">
                        <div id="userInGroup" class="tab-pane fade in active">
                            <div class="find-user-bottom">
                                <ul class="contactListUserInGroup">
                                </ul>
                            </div>
                        </div>
                        <div id="findUserToAddGroup" class="tab-pane fade ">
                            <div class="find-user-top">
                                <div class="input-group col-md-12">
                                    <input type="text" id="input-find-users-add-to-group" class="form-control" placeholder="Nhập E-mail hoặc username..." />
                                    <span class="input-group-btn">
                                        <button id="btn-find-users-not-in-group" class="btn btn-lg" type="button">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="find-user-bottom">
                                <ul class="contactListUserInGroupAfterSearch">
                                    <!-- user contact-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>