<% extend('../master') %>
<div class="container-fluid main-content">
    <div class="row content">
        <!-- include('sections/leftSidenav'); -->
        <%- include('sections/leftSide') %>

        <!-- include('sections/rightSidenav'); -->
        <%- include('sections/rightSide') %>
    </div>
</div>